@model IEnumerable<WebEnpoints.Models.Student>

<h2>Student List</h2>

<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var s in Model)
        {
            <tr>
                <th>@s.Id</th>
                <th>@s.Name</th>
                <th>@s.Age</th>
            </tr>
        }
    </tbody>
</table>